/* Allow members of the wheel group to execute the defined actions 
 * without password authentication, similar to "sudo NOPASSWD:"
 */
polkit.addRule(function(action, subject) {
    if (
      action.id == "org.freedesktop.accounts.change-own-password"
    )
    {
        return polkit.Result.YES;
    }
});

